<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="wrapper">
        <form method="POST" action="{{ url_for('login') }}">
            <h1>Login</h1>
            <div class="input-box">
                <input type="email" name="email" placeholder="Username" required>
            </div>
            <div class="input-box">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <div class="remember-forget">
                <label><input type="checkbox"> Remember me</label>
                <a href="{{ url_for('forgetpassword') }}"> Forget password?</a>
            </div>
            <button type="submit" class="btn">Login</button>
            <div class="register-link">
                <p>Don't have an account? <a href="{{ url_for('signup') }}">Signup</a></p>
            </div>
        </form>
    </div>
</body>
</html>
